.parent{
    display: block;
    height: auto;
    width: auto;
    align-items: center;
}
.box{
    background-color: lightsalmon;
    color: palevioletred;
    border: 10px solid plum;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

}